@keyframes turn {
    from{
        transform: rotateX(3.142rad) ;
    }to{
        transform: rotateX(0rad);
    }
}
.CountDown{
    background-color: #0e2b6f ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 6vw;
}
.prox-partido{
    font-family: 'Montserrat',sans-serif;
    color: #ec373d;
    font-style: italic;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    span{
        color: white;
    }
}
.countdown{
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.countdown-number{
    color: #ec373d;
    font-size: 50px !important;
    font-weight: 700;
    width: auto;
    margin: 0;
    font-family: 'Montserrat',sans-serif !important;
    backface-visibility: hidden;
    animation: turn 1s ease-in-out;
    &::after{
        content: ":";
        padding: 1vw;
    }
    &.days{
        &::before{
            content: "Días";
        color: white;
        font-family: monospace;
        font-size: 0.5vw;
        position: relative;
        top: 1.5vh;
        left: 30%;
        }
        
    }
    &.hours{
        &::before{
            content: "Horas";
        color: white;
        font-family: monospace;
        font-size: 0.5vw;
        position: relative;
        top: 1.5vh;
        left: 30%;
        }
        
    }
    &.minutes{
        &::before{
            content: "Minutos";
        color: white;
        font-family: monospace;
        font-size: 0.5vw;
        position: relative;
        top: 1.5vh;
        left: 30%;
        }
        
    }
    &.seconds{
        &::before{
            content: "Segundos";
        color: white;
        font-family: monospace;
        font-size: 0.5vw;
        position: relative;
        top: 1.5vh;
        left: 30%;
        }
        
    }
    &.seconds{
        animation: turn 1s ease-in-out;
        &::after{
            content: "";
        }
    }
} 
   
